<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Card / Producto</title>
</head>

<!-- body del alto del tamaño del dispositivo -->

<body class="min-h-screen bg-gray-300 mx-4 mb-8">

    <!-- card -->
    <div class="mt-4 md:w-1/2 md:flex md:bg-white md:rounded-lg">
        <div>
            <img class="w-full rounded-lg md:rounded-none"
                src="https://images.unsplash.com/photo-1553979459-d2229ba7433b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&h=500&q=80"
                alt="Hamburguesa a la parrilla">
        </div>
        <div class="relative shadow-lg bg-white md:bg-transparent rounded-lg -mt-2 mx-1 p-2">
            <h2 class="text-xl tracking-tight font-semibold text-gray-900 uppercase md:text-lg">Hamburguesa a la
                parrilla</h2>
            <p class="text-gray-700 leading-snug">Hamburguesa con carne de Res y Tocino</p>
            <div class="text-sm mt-2 text-gray-700 font-semibold">$17,589</div>
            <div class="text-xs mt-2 text-yellow-600">&starf;&starf;&starf;&star;&star; / 105 reseñas</div>
        </div>
    </div>
    <!-- card -->
</body>

</html>