<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Main / Shop</title>
</head>

<!-- body del alto del tamaño del dispositivo -->
<body class="min-h-screen bg-gray-300 mx-4 mb-8">

    <!-- main -->
    <main>
        <div class="h-32 md:h-80 bg-center bg-cover bg-no-repeat" style="background-image: url('https://images.unsplash.com/photo-1560053608-13721e0d69e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80');">
            
        </div>
    </main>
    <!-- main -->
</body>
</html>