<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Footer / Shop</title>
</head>

<!-- body del alto del tamaño del dispositivo -->
<body class="">
 
    <!-- footer -->
    <footer class="bg-secondary absolute bottom-0 w-full text-white">
        <div class="flex justify-around items-center mx-8 my-4 flex-row-reverse">
            <div class="ml-1">
                <div class="hover:text-primary cursor-pointer"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</div>
                <div class="hover:text-primary cursor-pointer"><i class="fa fa-instagram" aria-hidden="true"></i> Intagram</div>
                <div class="hover:text-primary cursor-pointer"><i class="fa fa-github" aria-hidden="true"></i> @DavidSoft21</div>
                <div class="hover:text-primary cursor-pointer"><i class="fa fa-linkedin" aria-hidden="true"></i> @DavidRM</div>
            </div>
            <ul class="mr-1 md:list-disc">
                <li class="hover:text-primary cursor-pointer">Soporte</li>
                <li class="hover:text-primary cursor-pointer">Acerca de Nosotros</li>
                <li class="hover:text-primary cursor-pointer">Aviso de Privacidad</li>
                <li class="hover:text-primary cursor-pointer">Registro</li>
            </ul>
        </div>
    </footer>
    <!-- footer -->
</body>

</html>