<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Form / Shop</title>
</head>

<!-- body del alto del tamaño del dispositivo -->

<body class="">
    <div class="mx-2">
        <div>
            <div>Nombre:</div>
            <input type="text" placeholder="Nombre"
                class="w-full hover:bg-gray-100 focus:outline-none focus:shadow-outline leading-snug placeholder-secondary text-gray-800 py-1 px-4 rounded bg-gray-200 border border-blue-200">
        </div>
        <div>
            <div>Email:</div>
            <input type="email" placeholder="Email"
                class="w-full hover:bg-gray-100 focus:outline-none focus:shadow-outline leading-snug placeholder-secondary text-gray-800 py-1 px-4 rounded bg-gray-200 border border-blue-200">
        </div>
        <div>
            <div>Comentarios:</div>
            <textarea
                class="w-full hover:bg-gray-100 focus:outline-none focus:shadow-outline leading-snug placeholder-secondary text-gray-800 py-1 px-4 rounded bg-gray-200 border border-blue-200"
                name="Comentarios" id="" cols="30" rows="5"></textarea>
        </div>
        <div>
            <button class="px-4 py-2 bg-gray-500 shadow-xl hover:shadow-none hover:bg-gray-700 block mx-auto rounded-lg text-white font-semibold">
                Enviar
            </button>
        </div>
    </div>
</body>

</html>